{
    "appearance_mode": "dark",
    "volume": 1,
    "theme_accent": "#c3000d",
    "music_dir": "C:\\Caminho\\Para\\Suas\\Musicas",
    "last_view": "home",
    "spotify_client_id": "SEU_SPOTIFY_CLIENT_ID_AQUI",
    "spotify_client_secret": "SEU_SPOTIFY_CLIENT_SECRET_AQUI",
    "discogs_token": "SEU_DISCOGS_TOKEN_AQUI"
}
